* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
button {
  width: 150px;
  height: 150px;
}
button:hover {
  color: brown;
  background-color: yellow;
  width: 10%;
  height: 10%;
}
a:hover {
  text-decoration: underline;
  color: yellowgreen;
}
a:active{
  color: brown;
}
