th {
  background-color: #fcff00;
  text-align: end;
}
#class {
  background-color: #f9b7c1;
  text-align: center;

}
.id {
  background-color: white;
  text-align: center;

}
table{
    width: 40%;
}
