@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

p{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  text-decoration: overline dotted dashed, underline  wavy,line-through double ;
  color: green}