.adead{
    color: rgb(255, 100, 150);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.deda{
    color: #1E90FF;
    font-family: 'Courier New', Courier, monospace;
}
.asd{
    width: 250px;
    text-shadow: #1E90FF;
}
.d{
    color: #32CD32;
    text-align: center;
}
.bara{
    color: #F0E68C;
}