#class {
  height: 300px;
  width: 300px;
  background-color: blue;
  bottom: 160px;
  right: 150px;
}
#brabra {
  height: 100px;
  width: 100px;
  background-color: yellow;
  bottom: 120px;
  right: 120px;
}
