#class {
  height: 300px;
  width: 300px;
  background-color: blue;
  top: 160px;
  left: 150px;
}
#brabra {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: absolute;
  top: 120px;
  left: 120px;
}
